async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
Deprecated==1.2.13
glob2==0.7
h11==0.13.0
idna==3.3
iniconfig==1.1.1
Mako==1.2.0
MarkupSafe==2.1.1
outcome==1.1.0
packaging==21.3
parse==1.19.0
parse-type==0.6.0
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.9
PySocks==1.7.1
pytest==7.1.2
pytest-bdd==5.0.0
PyYAML==6.0
redis==4.3.1
requests==2.27.1
selenium==4.1.5
selenium-respectful==0.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
tomli==2.0.1
trio==0.20.0
trio-websocket==0.9.2
undetected-chromedriver==3.1.5.post4
urllib3==1.26.9
webdriver-manager==3.5.4
websockets==10.3
wrapt==1.14.1
wsproto==1.1.0
pytest-html==3.1.1
